#countLabel
{
    display: block;
    text-align: center;
    font-size: 50px;
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 10vh;    
}
.flex-button{
    margin: 0 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}
body{
    background-color: aqua;
}
button:hover{
    background-color: green;
}